<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Celestin's Web</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../img/web-logo.png" height="50px"></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutMe">Who am I?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <div class="networks d-flex align-items-center ">   
                        <a href="https://www.linkedin.com/in/celestin-kifuka-aparicio/" target="_blank"><i class="bi bi-linkedin px-2"></i></a>
                        <a href="https://github.com/Celestinvib" target="_blank"><i class="bi bi-github px-2"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row align-items-center m-auto">
                    <div class="col">
                        <img src="../img/Celestin_Profile2.png" id="profilePhotoCircle"/>
                    </div>
                    <div class="col pt-2">
                        <h1>Celestin Kifuka Aparicio</h1>
                        <h3>Developer Full-Stack </h3>
                    </div>  
            </div>
        </div>
        <div class="row p-3 pt-4  m-auto">
            <section id="aboutMe">
                <h2>Who am I?</h2><br>
                <p>I am a person with a proactive attitude who likes to learn and is passionate about programming and design.</p><br>
                <p>Last year I finished the higher cycle of multiplatform application development and this year I have completed my second higher cycle of web application development.
                    I have acquired solid knowledge of backend and frontend thanks to what I learned in the upper cycles, in the projects that I have done and the additional courses that I have completed.</p>
                <p>Among them, it is worth mentioning the Node.js course on Udemy that I did on my own, but especially the techma bootcamp in collaboration with T-systems, fundació esplai and la cambra de reus in which I signed up. I reviewed Java, SQL, noSQL and learned express.js typescript(fill with course content).</p>
            </section>
        </div>
        <div class="row p-3 m-auto">
            <section id="skills">
            <h2>My Skills</h2><br>
                <h3>{Skills}</h3><br>
                <p>Enthusiasm, Punctuality, Commitment, Ease of adaptation, Teamwork.</p><br>
                <h3>{Languages}</h3><br>
                <p>Java, C#, JS, PHP, MySQL, HTML, CSS, TypeScript, Visual Basic, JSON, noSQL</p><br>
                <h3>{FrameWorks, Environments and Libraries}</h3><br>
                <p> NodeJs, Express, Angular, Spring, Maven, Laravel, Bootstrap, Wordpress.</p><br>
                <h3>{Applications}</h3><br>
                <p> Git, AWS, AndroidStudio, VS Code, Eclipse, PHPmyadmin, SQLdeveloper, PS Cs6, Slack.</p>
            </section>  
        </div>
        <div class="row p-3  m-auto">
            <section id="projects">
                <h2>My Projects</h2><br>
                <div class="col">
                    <h4>Online academy with PHP, JS, CSS and HTML Vanilla!</h4>
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/-_ximq7X0XE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    <!-- <a href="#">Prueba la academia!</a> -->
                </div>
                <!-- <div class="col">
                    <h4>BlockCrusher</h4>
                </div> -->
                <!-- <div class="col">
                    <h4>Store with Node.js</h4>
                </div> -->
            </section>
        </div>
        <div class="row p-3  m-auto">
            <section id="contact">
                <h2>Contact</h2><br>
                <h3>Do you have any questions or offers?</h3>
                <p>Get in touch with me via linkedin or send an email to celestinvib@gmail.com</p>
            </section>
        </div>
        <footer class="footer mt-auto">
            <div style="margin:4%;">
                <p>Author: Celestin Kifuka Aparicio</p>
                <hr style="border: 0; border-top: 1px solid white;">
                <!-- <p>  </p> -->
                <a href="https://www.linkedin.com/in/celestin-kifuka-aparicio/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/Celestinvib" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </footer>
    </body>
</html>