<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Celestin's Web</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../img/web-logo.png" height="50px"></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutMe">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <div class="networks d-flex align-items-center ">   
                        <a href="https://www.linkedin.com/in/celestin-kifuka-aparicio/" target="_blank"><i class="bi bi-linkedin px-2"></i></a>
                        <a href="https://github.com/Celestinvib" target="_blank"><i class="bi bi-github px-2"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
        <br>
        <br>
        <br>
        <br>
        <div class="container rounded-3 shadow p-2 mb-4 m-auto">
            <div class="row align-items-center m-auto">
                    <div class="col col-profile">
                        <img  src="../img/Celestin_Profile3.png" id="profilePhotoCircle"/>
                    </div>
                    <div class="col pt-2">
                        <h5 class="text-secondary">Developer Full-Stack </h5>
                        <h1>Celestin Kifuka Aparicio</h1>
                        <a class="btn btn-outline-primary"  href="../resources/CV_KifukaCelestin.pdf" target="_blank">Check CV</a>
                    </div>  
            </div>
            <div class="row p-3 pt-4  m-auto">
                <section id="aboutMe">
                    <h2>Who am I?</h2><br>
                    <p>I am a person with a proactive attitude who likes to learn and is passionate about programming and design.</p><br>
                    <p>Last year I finished the higher cycle of multiplatform application development and this year I have completed my second higher cycle of web application development.
                        I have acquired solid knowledge of backend and frontend thanks to what I learned in the upper cycles, in the projects that I have done and the additional courses that I have completed.</p>
                    <p>Among them, it is worth mentioning the Node.js 41h course on Udemy that I did on my own, but especially the 300h techma bootcamp in collaboration with T-systems in which I signed up. I reviewed Java, Mongodb and learn Spring, Angular & Typescript.</p>
                </section>
            </div>
            <div class="row p-3 m-auto">
                <section id="skills">
                <div class="d-flex">
                        <h2>My Skills</h2><br>
                        <div class="btn-group ms-auto p-2" role="group" aria-label="Basic mixed styles example">
                            <button id="btnIcons" type="button" onclick="showIcons()" class="btn btn-primary btn-sm">Icons</button>
                            <button id="btnText"  type="button" onclick="hideIcons()" class="btn btn-dark btn-sm">Text</button>
                        </div>
                </div>
                <div class="skills">
                    <div id="skills-text">
                        <!-- <h3>{Soft Skills}</h3><br>
                        <p>Enthusiasm, Punctuality, Commitment, Teamwork.</p><br> -->
                        <h3>Languages:</h3>
                        <p> JS, CSS3, HTML, Java, PHP, TypeScript, C#, JSON, Visual Basic.</p>
                        <h3>FrameWorks, Environments and Libraries:</h3>
                        <p> Angular, Spring, Bootstrap, NodeJs, Express, Laravel, Maven, Wordpress.</p>
                        <h3>Databases:</h3>
                        <p>MongoDb, mySQL, OracleSQL, PostgresSQL, MySQLlite.</p>
                        <h3>Applications:</h3>
                        <p> Git, Postman, Heroku, AWS, Unity, AndroidStudio, Firebase, PS Cs6, Eclipse, VS Code, Slack.</p>
                    </div>
                    <div id="skills-icons">
                        <!-- <h3>Soft Skills:</h3>
                        <p>
                            Enthusiasm, Punctuality, Commitment,  Teamwork.
                        </p>                           -->
                        <h3>Languages:</h3>
                        <p> 
                            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/> </a>  &nbsp; 
                            <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/> </a> &nbsp;
                            <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.java.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.php.net" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="php" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" alt="typescript" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.w3schools.com/cs/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.json.org/json-es.html" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/json/json-ar21.svg" alt="spring" width="50" height="40"/> </a>  &nbsp;
                            <a href="https://learn.microsoft.com/es-es/dotnet/visual-basic/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/microsoft_vb/microsoft_vb-ar21.svg" alt="spring" width="70" height="40"/> </a>  &nbsp;
                        </p>

                        <h3>FrameWorks, Environments and Libraries:</h3>
                        <p> 
                            <a href="https://angular.io" target="_blank" rel="noreferrer"> <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="40" height="40"/> </a> &nbsp;
                            <a href="https://spring.io/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="spring" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/> </a> &nbsp;
                            <a href="https://nodejs.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://expressjs.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://laravel.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-plain-wordmark.svg" alt="laravel" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://wordpress.com/es/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/wordpress/wordpress-icon.svg" alt="spring" width="40" height="40"/> </a> 
                        </p>

                        <h3>Databases :</h3>
                        <p> 
                            <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.oracle.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg" alt="oracle" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/> </a>  &nbsp;
                            <a href="https://www.sqlite.org/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/> </a>  &nbsp;
                        </p>

                        <h3>Applications:</h3>
                        <p> 
                            <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/> </a> 
                            <a href="https://postman.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40" height="40"/> </a> 
                            <a href="https://heroku.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/> </a> 
                            <a href="https://aws.amazon.com/amplify/" target="_blank" rel="noreferrer"> <img src="https://docs.amplify.aws/assets/logo-dark.svg" alt="amplify" width="40" height="40"/> </a> 
                            <a href="https://unity.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/unity3d/unity3d-icon.svg" alt="unity" width="40" height="40"/> </a> 
                            <a href="https://developer.android.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/android/android-original-wordmark.svg" alt="android" width="40" height="40"/> </a>  
                            <a href="https://firebase.google.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="firebase" width="40" height="40"/> </a> 
                            <a href="https://www.photoshop.com/en" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-line.svg" alt="photoshop" width="40" height="40"/> </a> 
                            <a href="https://www.eclipse.org/documentation/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/eclipse/eclipse-icon.svg" alt="spring" width="40" height="40"/> </a> 
                            <a href="https://code.visualstudio.com/docs" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/visualstudio_code/visualstudio_code-icon.svg" alt="spring" width="40" height="40"/> </a> 
                            <a href="https://slack.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/slack/slack-icon.svg" alt="spring" width="40" height="40"/> </a> 
                        </p>
                    </div>
                </div>
                </section>  
            </div>
            <div class="row p-3  m-auto"  id="projects">
                    <h2>My Projects</h2><br>
                    <div class="col mt-2">
                        <div class="card bg-dark p-2 text-light">
                            <img src="../img/projects/CheapTripWeb.JPG"  title="Cheaptrip project image" ></img>
                            <div class="card-body">
                                    <h6 class="card-title text-center">Travel website, made in collaboration & build with Spring, Angular, Typescript, Mysql, CSS & HTML.</h6>
                                    <div class="row">
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-light" href="https://deploy.d3w3e4fbeadyvx.amplifyapp.com/bargains" target="_blank">Test it!</a>
                                        </div>
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-secondary" href="https://github.com/Celestinvib/CheapTrip-Frontend" target="_blank">Details</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="card bg-dark p-2 text-light">
                            <img src="../img/projects/BooklyShopWeb.png" title="Cheaptrip project image" ></img>
                            <div class="card-body">
                                    <h6 class="card-title text-center">Book shop website made with Nodejs, Express, Ejs, MongoDb, Js, CSS, & HTML.</h6>
                                    <div class="row">
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-light" href="https://node-cka-shop.herokuapp.com/" target="_blank">Test it!</a>
                                        </div>
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-secondary" href="https://github.com/Celestinvib/Nodejs-Shop" target="_blank">Details</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="col mt-2">
                        <div class="card bg-dark p-2 text-light">
                            <img src="../img/projects/PostsWeb.JPG"  title="Cheaptrip project image" ></img>
                            <div class="card-body">
                                    <h6 class="card-title text-center">Post website made with Nodejs, Express, React, MongoDb, JS, CSS & HTML.</h6>
                                    <div class="row">
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-light" href="https://deploy.d252wdunpl8dsh.amplifyapp.com/" target="_blank">Test it!</a>
                                        </div>
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-secondary" href="https://github.com/Celestinvib/PostsNodejsRESTAPI" target="_blank">Details</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="col mt-2">
                        <div class="card bg-dark p-1 text-light" >
                            <img  class="card-img-top" src="../img/projects/ScriptAcademyWeb.JPG" title="Cheaptrip project image"></img>
                                <div class="card-body">
                                    <h6 class="card-title text-center">Online academy with server-side rendered views  made with PHP, Mysql, JS, CSS & HTML!</h6>
                                    <div class="row">
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-light" href="https://www.youtube.com/embed/-_ximq7X0XE" target="_blank">See more!</a>
                                        </div>
                                        <div class="col d-grid gap-2">
                                            <a class="btn btn-secondary" href="https://www.youtube.com/embed/-_ximq7X0XE" target="_blank">Details</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="row p-3  m-auto">
                <section id="contact">
                    <h2>Contact</h2><br>
                    <h3>Do you have any questions or offers?</h3>
                    <p>Get in touch with me via <a href="https://www.linkedin.com/in/celestin-kifuka-aparicio/" target="_blank">my linkedin</a> or send an email to celestinvib@gmail.com</p>
                </section>
            </div>
        </div>
        <footer class="footer mt-auto">
            <div style="margin:4%;">
                <p>Author: Celestin Kifuka Aparicio</p>
                <hr style="border: 0; border-top: 1px solid white;">
                <!-- <p>  </p> -->
                <a href="https://www.linkedin.com/in/celestin-kifuka-aparicio/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/Celestinvib" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </footer>
    </body>
    <script src="../js/main.js"></script>
</html>