*{
   /* border: 1px solid black;  */
   font-family: 'Roboto', sans-serif;
   font-size: 1.2rem;
   scroll-margin-top: 108px; 
} 

body {
    /* background-color: rgb(240,240,241); */
    background-color: rgb(246, 246, 248);
}

:root {
    --side_color: royalblue;
  }

#logo {
    height:80px;
    padding: 3px 10px;
}

#profilePhotoCircle {
 width: 400px;
}

.networks a {
    text-decoration: none;
}

h1,h2 {
    font-size: 2em;
}

h2 {
    color:  var(--side_color);
}


/* Buttons */

.btn-primary,
.btn-danger,
.btn-warning,
.btn-success {
 --bs-btn-focus-shadow-rgb: none ;
}

#skills-text {
    display: none;
}

#skills-icons a {
    text-decoration: none;
}

#contact a {
    text-decoration: none;
}

footer {
    padding: 0.5% 0;
    margin-bottom: 0;
    background-color:black;
    color:white;
}

footer a {
    text-decoration: none;
    color : white;
}

.col-profile {
    text-align: center;
}

@media screen and (max-width: 600px) {
    #profilePhotoCircle {
        width: 300px;
       }
}

@media screen and (min-width: 600px) {
    .card {
        width: 20rem;
    }

    .card img {
        height: 9rem;
    }
}


